<div class="container">
  <hr>
  <h2>Dashboard</h2>
  <hr>

  <h4 class="mt-4">
    List of submissions
  </h4>
  <app-submissions-table [loggedInUser]="loggedInUser"
                         [reloadForUser]="true"
                         [submissions]="loggedInUser?.submissions">
  </app-submissions-table>

  <div class="row mt-5" *ngIf="userProjects?.length > 0 ">
    <h4>Active projects</h4>
  </div>

  <div class="row mt-2">
    <div class="col-lg-4" *ngFor="let project of userProjects">
      <h5>
        {{project.name}}
        (<a [routerLink]="'/courses/' + project.course.id">{{project.course.codename}}</a>/
        <a [routerLink]="'/courses/'+ project.course.id + '/projects/' + project.id">{{project?.codename}}</a>)
      </h5>
      <p>Deadline: {{project?.config.submissions_allowed_to | date: 'dd.MM.yyyy HH:mm.ss'}}</p>
      <p>
        <button class="btn btn-success mr-1"
                routerLinkActive="active" [routerLink]="['/submissions/create']"
                [queryParams]="{course_id: project.course.id, project_id: project.id}">
          <span class="fa fa-plus-circle"></span>
          Create submission
        </button>
      </p>
    </div>
  </div>
</div>
