<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-tests-tab" data-toggle="pill" href="#pills-tests" role="tab" aria-controls="pills-tests" aria-selected="true">Test results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-sources-tab" data-toggle="pill" href="#pills-sources" role="tab" aria-controls="pills-sources" aria-selected="false">Test files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-logs-tab" data-toggle="pill" href="#pills-logs" role="tab" aria-controls="pills-logs" aria-selected="false">Output files</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-tests" role="tabpanel" aria-labelledby="pills-tests-tab">

    <app-test-results *ngIf="suite" [tests]="suite.all_tests"></app-test-results>

  </div>
  <div *ngIf="userCanViewResults()" class="tab-pane fade" id="pills-sources" role="tabpanel" aria-labelledby="pills-sources-tab">
    <hr>
    <app-test-sources *ngIf="testSourcesTree && userCanViewResults()" [testSourcesTree]="testSourcesTree"></app-test-sources>

  </div>
  <div *ngIf="userCanViewResults()" class="tab-pane fade" id="pills-logs" role="tabpanel" aria-labelledby="pills-logs-tab">
    <hr>
    <app-test-outputs *ngIf="testOutputsTree && userCanViewResults()" [testOutputsTree]="testOutputsTree"></app-test-outputs>

  </div>
</div>
