<!--source: https://getbootstrap.com/docs/4.0/content/tables/ and https://getbootstrap.com/docs/4.0/components/navs/ -->
<div *ngIf="this.test">
  <h4>Details for: <b>{{test?.name}}</b></h4>
</div>
<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Stats</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <br>
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <table class="table table-light" id="test-details-table">
      <thead></thead>
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{test?.name}}</td>
      </tr>
      <tr>
        <th scope="row">Namespace</th>
        <td>{{test?.namespace}}</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{test?.description}}</td>
      </tr>
      <tr>
        <th scope="row">Tags</th>
        <td>
          <ul style="list-style-type: none; padding: 0; margin: 0">
            <li *ngFor="let item of this.test?.tags">
              {{item}}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Effective Tags</th>
        <td>
          <ul style="list-style-type: none; padding: 0; margin: 0">
            <li *ngFor="let item of this.test?.effective_tags">
              {{item}}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Points</th>
        <td>{{test?.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
