<!-- https://getbootstrap.com/docs/4.0/components/navbar/ for navbar layout-->
<!-- https://angular.io/api/router/RouterLinkActive  for active links-->
<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link mr-1" [routerLink]="['/review/' + sid]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-1" [routerLink]="['/review/' + sid + '/sources']" routerLinkActive="active">Sources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-1" [routerLink]="['/review/' + sid + '/tests']" routerLinkActive="active">Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/review/' + sid + '/notebooks']" routerLinkActive="active">IS Notebooks</a>
      </li>
    </ul>
  </div>
</nav>
