.header {
  padding-bottom: 30px;
}

.header h4 {
  display: inline;
}

.header span {
  float: right;
}

.row,
.col-sm,
.container-fluid {
  height: calc(100vh - 49px);
}


#diff-column {
  overflow-y: hidden;
}
