<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-2">
      <app-generic-tree-view *ngIf="sources" [treeView]="sources" [component]="'diff'"></app-generic-tree-view>
    </div>
    <div class="col-sm p-0" id="diff-column">
      <app-diff-editor></app-diff-editor>
    </div>
  </div>
</div>
