<div class="wrapper">
  <div class="tools pr-3 pl-3 pb-1 bg-light">
      <span *ngIf="path">{{path}}</span>
      <span style="float: right">
        <!--
      <i class="far fa-copy mr-3" title="Copy"></i>
      <i class="fas fa-code" title="View raw"></i>
      -->
    </span>
  </div>
  <div *ngIf="component" [id]="component" class="editor"></div>
</div>
