<div class="container">
  <div class="row">
    <div class="col-md-10">

      <div class="header">
        <hr>
        <h4>IS Notebooks:&nbsp;&nbsp;<span style="font-weight: bold">{{submission?.user?.name}}</span> ({{submission?.user?.uco}}) | <span style="font-weight: bold">{{submission?.course?.codename}}</span>  | <span style="font-weight: bold">{{submission?.project?.codename}}</span> </h4>
        <span *ngIf="notebook != null && canEditNotebooks()" style="float: right"><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="initEditNotebookForm()">Edit notebook</button></span>
      </div>

      <div class="pt-2">
        <div *ngIf="notebook == null">
          <div class="alert alert-light" role="alert" style="background: #EDF1F4">
            The notebook for student {{submission?.user?.name}} and course {{submission?.course?.codename}} is empty.
          </div>
        </div>
        <div *ngIf="notebook != null"><pre style="white-space:pre-wrap; font-size: 14px">{{notebook[submission?.user?.uco.toString()]}}</pre></div>
      </div>
    </div>
  </div>
</div>

<!-- Extra large modal -->


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="editNotebookForm">
          <div class="form-group">
            <textarea class="form-control" id="editReviewItemTextArea" rows="3" formControlName="content"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateNotebook()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
