<div class="container" id="content">
  <h4>Profile: {{user?.name}}</h4>
  <hr>
  <form [formGroup]="updateData">
    <div class="row">
      <div class="col-md-4">
        <h5>Profile settings</h5>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="username" class="label">Username</label>
          <input type="text" class="form-control" id="username"
                 formControlName="username" pattern="\w+" required>
        </div>
        <div class="form-group">
          <label for="gitlab_username" class="label">Gitlab username</label>
          <input type="text" class="form-control" id="gitlab_username"
                 formControlName="gitlab_username" pattern="\w+" required>
        </div>
        <div class="form-group">
          <label for="email" class="label">Email</label>
          <input type="email" class="form-control" id="email"
                 formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="uco" class="label">Uco</label>
          <input type="number" class="form-control" id="uco"
                 formControlName="uco" pattern="\d+" required>
        </div>

        <div class="form-group">
          <label for="name" class="label">Name</label>
          <input type="text" class="form-control" id="name"
                 formControlName="name">
        </div>

        <div class="custom-control custom-checkbox" *ngIf="loggedInUser.is_admin">
          <input type="checkbox" class="custom-control-input" id="is_admin" formControlName="is_admin">
          <label for="is_admin" class="custom-control-label">User is Admin</label>
        </div>

        <div class="container-fluid text-right" style="padding: 0 0 0 0;">
          <button [attr.disabled]="updateData.status === 'VALID' ? null : true"
                  class="btn btn-primary"
                  type="submit"
                  (click)="updateProfile()">
            Update profile
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h5>Activity</h5>
      </div>
      <div class="col-md-8">


        <div class="form-group">
          <label for="created_at" class="label">Created</label>
          <input class="form-control" type="datetime-local" id="created_at" readonly
                 formControlName="created_at">
        </div>
        <div class="form-group">
          <label for="updated_at" class="label">Updated</label>
          <input class="form-control" type="datetime-local" id="updated_at" readonly
                 formControlName="updated_at">
        </div>
        <div class="form-group">
          <label for="submissions" class="label">Number of submissions</label>
          <input class="form-control" type="number" readonly id="submissions"
                 value="{{user?.submissions?.length}}">
        </div>
      </div>
    </div>
  </form>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <h5>Roles</h5>
    </div>
    <div class="col-md-8">
      <a *ngFor="let role of user?.roles" [routerLink]="'/courses/' + role.course.id + '/roles/' + role.id ">
      {{role.course.codename}}/{{role.codename}}
      </a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <h5>Groups</h5>
    </div>
    <div class="col-md-8">
      <a *ngFor="let group of user?.groups" [routerLink]="'/courses/' + group.course.id + '/groups/' + group.id ">
        {{group.course.codename}}/{{group.codename}}
      </a>
    </div>
  </div>
  <hr/>

  <div class="row" *ngIf="loggedInUser.is_admin || loggedInUser.id == user.id">
    <div class="col-md-4">
      <h5>Secrets</h5>
      <div *ngIf="(loggedInUser?.id == user?.id)">
        <button type="button" class="btn btn-success" routerLinkActive="active"
                [routerLink]="['/secrets/create', {clientId: user?.id}]">
          New Secret
        </button>
      </div>
    </div>
    <div class="col-md-8" style="padding: 0 0 0 0">
      <app-secret-list
        [loggedInUser]="loggedInUser"
        [secretsOwner]="user">
      </app-secret-list>
    </div>
  </div>
</div>

