.navbar li {
  margin-right: 20px;
}
.navbar {
  min-height: 45px;
  max-height: 45px;
  font-size: 15px;
  background: white;
  color: #000;
  z-index: 1;
  border-bottom: #EDEDED solid 0.5px;
}

.navbar a {
  color: #0C2149;
}

.navbar a:hover {
  color: #12306D;
}

.navbar-brand {
  font-family: Ubuntu, monospace;
}

@media (min-width: 576px) {
  .navbar-brand {
    display: none;
  }
}
