<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
    <img src="../../../assets/KontrLogo.png" class="d-inline-block align-top" alt="" style="width: 28px; height: 28px; margin-right: 10px">
    Kontr 2.0
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!status">
        <span>Backend is offline.</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/submissions/create']">New submission</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="helpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpDropdown">
          <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2/kontr-documentation">Documentation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2">Repository</a>
          <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2/kontr-features-and-bugs">Bugs and features</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/' + loggedInUser?.id]">{{ loggedInUser?.name }} ({{loggedInUser?.username}})</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-power-off" ></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
          <a class="dropdown-item" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
