.wrapper {
  width: 100%;
  height: 100%;
}

.container-fluid {
  max-width: 970px;
  min-height:0 !important;
  padding: 65px 15px;
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;
}

.login-box {
  border: #EAEAEA 1px solid;
}

.login-page-content {
  padding: 0 5px 10px 5px;
}

.nav-item {
  border-radius: 0;
  color: #858589;
  background: ghostwhite;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

// selected tab
.nav .active {
  background: #FCFCFC; // the same colour as the page background
  color: black;
  font-weight: bold;
}

.footer {
  // https://getbootstrap.com/docs/4.0/examples/sticky-footer/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  font-size: 14px;
}
