<div class="wrapper">
  <div class="container-fluid">
      <div class="row">
        <div class="col-7">
          <div class="login-page-content">
            <h3>Kontr 2</h3>
          </div>
        </div>

        <div class="col-5">
          <div class="login-box">
            <nav class="nav nav-pills nav-justified">
              <a class="nav-item nav-link active" id="nav-gitlab-tab" data-toggle="tab" href="#nav-gitlab" aria-controls="nav-gitlab" aria-selected="true">GitLab FI</a>
              <a class="nav-item nav-link" id="nav-username-tab" data-toggle="tab" href="#nav-username" aria-controls="nav-username" aria-selected="false">Username</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-gitlab" role="tabpanel" aria-labelledby="nav-gitlab-tab">
                <app-gitlab-login></app-gitlab-login>
              </div>
              <div class="tab-pane fade" id="nav-username" role="tabpanel" aria-labelledby="nav-username-tab">
                <app-basic-login></app-basic-login>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--
  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted">Link 1 • Link 2</span>
    </div>
  </footer>
  -->
</div>

