<div class="container">
  <div class="page-header">
    <h1>Create user</h1>

  </div>


  <div class="col-md-9 page-body">

    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Username:</label>
        <div class="col-lg-8">
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="xlogin" required
                 pattern="\w+" autofocus minlength="3" maxlength="30">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="name" required
                 pattern="[\w\s]+" autofocus maxlength="50" minlength="3">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input type="text" id="email" formControlName="email" class="form-control" placeholder="email"
                 required minlength="3" maxlength="50">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">UCO:</label>
        <div class="col-lg-8">
          <input type="text" id="uco" pattern="\d+" formControlName="uco" class="form-control" placeholder="uco"
                 required>
        </div>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" id="is_admin" formControlName="is_admin" class="custom-control-input">
        <label class="custom-control-label" for="is_admin">Is Admin</label>
      </div>

      <div class="form-group row">
        <button [disabled]="createData.invalid" class="btn btn-lg btn-primary btn-signin"
                type="submit" (click)="doCreate()">
          Create
        </button>
      </div>
    </form>
  </div>
</div>




