<div class="container" id="courses-list-page">
    <div class="header">
      <hr/>
      <h4>Courses</h4>
      <span *ngIf="loggedInUser?.is_admin">
          <button type="button"
                      class="btn btn-outline-success"
                      style="font-weight: bold; margin-right: 10px"
                      routerLinkActive="active" [routerLink]="['/courses/create']">
            New course
        </button>
        <button type="button"
                      class="btn btn-outline-primary"
                      style="font-weight: bold">
            Copy course
        </button>
      </span>
    </div>

  <div id="courses-list">
    <input
      id="coursesSearchField"
      type='text'
      class="form-control"
      placeholder='Type to filter the codename column...'
      (keyup)='updateFilter($event)'
    />
    <br>
    <ngx-datatable
      #table
      class="bootstrap"
      [rows]="courses"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="20"
      [reorderable]="reorderable">

      <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value]">{{value}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" prop="name" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Projects" prop="id" [flexGrow]="2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/projects']">Projects</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Roles" prop="id" [flexGrow]="4">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/roles']">Roles</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Groups" sortable="false" prop="id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/groups']">Groups</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
</div>
</div>

