<div class="card-body">
  <form [formGroup]="configData">
    <div *ngIf="userCanViewFullConfig()">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Test files source:</label>
        <div class="col-lg-8">
          <input type="text" formControlName="testFilesSource"
                 id="test-files-source" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Test files subdir:</label>
        <div class="col-lg-8">
          <input type="text" formControlName="testFilesSubdir"
                 id="test-files-subdir" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">File whitelist:</label>
        <div class="col-lg-8">
        <textarea formControlName="fileWhitelist" id="file-whitelist"
                  class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Submission parameters:</label>
        <div class="col-lg-8">
        <textarea formControlName="submissionParameters" id="submission-parameters"
                  class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 control-label">Submissions allowed from:</label>
      <div class="col-lg-8">
        <input
          placeholder="Date Time:"
          formControlName="submissionsAllowedFrom"
          [owlDateTime]="submissionsAllowedFromPick"
          [owlDateTimeTrigger]="submissionsAllowedFromPick"
          class="form-control">
        <owl-date-time [pickerMode]="'dialog'" #submissionsAllowedFromPick></owl-date-time>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 control-label">Submissions allowed to:</label>
      <div class="col-lg-8">
        <input formControlName="submissionsAllowedTo" placeholder="Date Time:"
               [owlDateTime]="submissionsAllowedToPick"
               [owlDateTimeTrigger]="submissionsAllowedToPick" class="form-control">
        <owl-date-time [pickerMode]="'dialog'"
                       #submissionsAllowedToPick></owl-date-time>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Archive from:</label>
      <div class="col-lg-8">
        <input formControlName="archiveFrom" placeholder="Date Time:"
               [owlDateTime]="archiveFromPick"
               [owlDateTimeTrigger]="archiveFromPick" class="form-control">
        <owl-date-time [pickerMode]="'dialog'" #archiveFromPick></owl-date-time>
      </div>
    </div>

    <div class="form-group row" *ngIf="userCanUpdateProject()">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <button [attr.disabled]="configData?.status === 'VALID' ? null : true"
                class="btn btn-primary btn-signin"
                type="submit"
                (click)="updateConfig()">
          Update configuration
        </button>
        <button class="btn btn-default btn-outline-danger ml-5" (click)="resetForm()">
          Revert
        </button>
      </div>
    </div>
  </form>
</div>
