<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <app-generic-tree-view *ngIf="testSourcesTree" [treeView]="testSourcesTree" [component]="'test_files'"></app-generic-tree-view>
    </div>
    <div class="col-sm p-0" id="editor-column">
      <app-generic-editor [component]="'test_files'"></app-generic-editor>
    </div>
  </div>
</div>
