<div class="gitlab-login-wrapper">
  <button type="button" class="btn btn-primary btn-block" (click)="doGitlabLogin()">
    <i class="fab fa-gitlab" style="margin-right: 10px"></i>
    <span>
      Sign in with GitLab
  </span>
  </button>
</div>
