<div class="container">

  <div class="page-header">
    <h1>Create a course</h1>

  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required
                 pattern="\w+" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input type="text" id="codename" formControlName="codename" class="form-control" placeholder="Codename"
                 required>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row">
        <button [attr.disabled]="(createData.status === 'VALID') ? null : true"
                class="btn btn-lg btn-primary btn-signin"
                type="submit" (click)="doCreate()">Create
        </button>
      </div>
    </form>
  </div>
</div>




