<div class="container">

  <div class="page-header">
    <h1> Role: {{role?.name}}</h1>

    <div class="row page-controls">
      <div class="col-lg-6">
        {{role?.description}}
      </div>

      <div class="col-lg-6">
        <button class="btn btn-outline-info mr-1"
                [routerLink]="['/courses/' + role?.course?.id]">Course ({{role?.course?.codename}})
        </button>
        <a routerLinkActive="active" class="mr-4 btn btn-outline-secondary"
           [routerLink]="['/courses/' + role?.course.id + '/roles']">
          Roles list
        </a>
        <button data-toggle="modal" data-target="#delete_role_modal" class="btn btn-danger mr-4"
                *ngIf="userCanUpdateRole()">
          Delete
        </button>
        <button class="btn btn-dark" [routerLink]="['users']" *ngIf="userCanUpdateRole()">
          Users
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control"
                 required maxlength="50" minlength="3">
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input type="text" id="codename" formControlName="codename" class="form-control"
                 required maxlength="30" minlength="3">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="container-fluid text-right" *ngIf="userCanUpdateRole()">
          <button [disabled]="formData.invalid"
                  class="btn btn-primary btn-signin mr-5"
                  type="submit"
                  (click)="updateRole()">
            Update
          </button>
          <button class="btn btn-outline-secondary" (click)="resetForm()">Revert</button>
      </div>
    </form>

    <hr>

    <div class="row" *ngIf="userCanViewPermissions()">
      <div class="col-md-2">
        <h5>Permissions</h5>
      </div>
      <div class="col-md-10">
        <app-role-permissions [role]="role" [loggedInUser]="loggedInUser">
        </app-role-permissions>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_role_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Role</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete role: <strong>{{role?.name}} from course {{role?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRole()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
