<div class="container-fluid">
  <form [formGroup]="permissionsData" *ngIf="userCanViewPermissions()">
    <div class="custom-control custom-checkbox" *ngFor="let perm of permissionsEntries()" >
        <input [attr.name]="perm[0]" type="checkbox"
               [formControlName]="perm[0]"
               [id]="perm[0]"
               class="custom-control-input">
      <label class="custom-control-label text-capitalize" [attr.for]="perm[0]">
        {{perm[0].split('_').join(' ')}}
      </label>
    </div>
    <div class="container-fluid text-right">
      <input type="submit"
             name="update-permissions"
             value="Update permissions"
             class="btn btn-primary"
      (click)="updatePermissions()">
    </div>
  </form>
</div>
