﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Audiowide";src:url("Audiowide-Regular.eot?") format("eot"),url("Audiowide-Regular.woff") format("woff"),url("Audiowide-Regular.ttf") format("truetype"),url("Audiowide-Regular.svg#Audiowide-Regular") format("svg");font-weight:normal;font-style:normal;}
