<div class="container">
  <div class="page-header">
    <h1>New submission</h1>
  </div>

  <div class="col-md-12 page-body" *ngIf="courseOptions.length > 0">
    <form [formGroup]="createData">

      <div class="form-group row">
        <label class="col-lg-3 control-label">Course</label>
        <div class="col-lg-3">
          <ng-select id="itemSelectCourse"
                     [items]="courseOptions"
                     bindLabel="codename"
                     formControlName="course"
                     placeholder="Course"
                     (ngModelChange)="courseChanged($event)"
                     required>
          </ng-select>

          <div
            *ngIf="createData.controls['course'].invalid &&
            (createData.controls['course'].dirty || createData.controls['course'].touched)"
            class="alert alert-danger">

            <div *ngIf="createData.controls['course'].errors.required">
              Course is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-lg-3 control-label">Project</label>
        <div class="col-lg-3">
          <ng-select id="itemSelectProject"
                     formControlName="project"
                     placeholder="Project"
                     [items]="projectOptions"
                     bindLabel="codename"
                     (ngModelChange)="projectChanged($event)"
                     required>
          </ng-select>
          <div *ngIf="createData.controls['project'].invalid &&
          (createData.controls['project'].dirty || createData.controls['project'].touched)"
               class="alert alert-danger">

            <div *ngIf="createData.controls['project'].errors.required">
              Project is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Type</label>
        <div class="col-lg-3">
          <ng-select id="itemSelectType"
                     formControlName="type"
                     [items]="typeOptions"
                     placeholder="Submission type" required>
          </ng-select>
          <div *ngIf="createData.controls['type'].invalid &&
          (createData.controls['type'].dirty || createData.controls['type'].touched)"
               class="alert alert-danger">

            <div *ngIf="createData.controls['type'].errors.required">
              Submission type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Repository URL</label>
        <div class="col-lg-8">
          <input type="text" id="url" formControlName="url" class="form-control"
                 placeholder="url" required>
        </div>
        <div *ngIf="createData.controls['url'].invalid &&
          (createData.controls['url'].dirty || createData.controls['url'].touched)"
             class="alert alert-danger">

          <div *ngIf="createData.controls['url'].errors.required">
            URL is required for 'git' submissions.
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label for="from_dir" class="col-lg-3 control-label">Subdirectory</label>
        <div class="col-lg-8">
          <input type="text" id="from_dir" formControlName="from_dir"
                 class="form-control" required>
        </div>
        <div *ngIf="createData.controls['from_dir'].invalid &&
          (createData.controls['from_dir'].dirty || createData.controls['from_dir'].touched)"
             class="alert alert-danger">

          <div *ngIf="createData.controls['from_dir'].errors.required">
            Subdirectory is required for 'git' submissions.
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Repository branch <i>(Optional)</i></label>
        <div class="col-lg-8">
          <input type="text" id="branch" formControlName="branch"
                 class="form-control" placeholder="branch">
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Reference to checkout <i>(Optional)</i></label>
        <div class="col-lg-8">
          <input type="text" id="checkout" formControlName="checkout"
                 class="form-control" placeholder="checkout">
        </div>
      </div>

      <div class="form-group row mt-4">
        <button [attr.disabled]="(createData.status === 'VALID') && validateGitData()? null : true"
                data-toggle="modal" data-target="#create_submission_modal"
                class="btn btn-lg btn-primary btn-signin" (click)="openCreateModal()">
          Create
        </button>
      </div>
    </form>
  </div>

  <div class="page-body" *ngIf="courseOptions?.length == 0">
    <h3>You are not in any course, you cannot create new submission</h3>
  </div>
</div>


<div>
  <div id="create_submission_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create submission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to create a new submission for <strong>{{selectedProject?.namespace}}</strong>?</p>
          <div *ngIf="!canDirectlyCreate()">
            <p>If you wish to to continue, please write a provided string to an input area.</p>
            <div class="form-group">
              <h5>String: <strong>{{verificationString}}</strong></h5>
              <input type="text" class="form-control" id="random_string" (keyup)="randomStringInput($event)">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [attr.disabled]="isCreateAllowed ? null : true"
                  type="button" class="btn btn-success" data-dismiss="modal" (click)="doCreate()">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>



