#filters .row {
  padding-bottom: 10px;
}

#filters .row label {
  font-weight: bold;
}


.header {
  padding-bottom: 30px;
}

.header h4 {
  display: inline;
}

.header span {
  float: right;
}

#submissionSearchField {
  width: 100%;
  border-color: #92A8C5;
}
