<!-- https://stackoverflow.com/questions/13194692/align-h1-header-and-normal-text-in-same-line -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="header">
        <hr/>
        <h4>Submissions</h4>
        <span><button type="button" class="btn btn-outline-success"
                      [routerLink]="['/submissions/create']"
                      style="font-weight: bold">New submission</button>
        </span>
      </div>
      <input
        id="submissionSearchField"
        type='text'
        class="form-control col-4"
        placeholder='Filter by username ...'
        (keyup)='updateFilter($event)'/>
      <br>
      <app-submissions-table [limit]="15"
                             [loggedInUser]="loggedInUser" [submissions]="submissions">
      </app-submissions-table>
    </div>
    <div class="col-md-2" id="filters">
      <div class="pb-4">
        <hr>
        <h5>Diff</h5>
        <p>
          Select two submissions from the same course and project to compare the sources.
        </p>
        <button type="button" class="btn btn-outline-success btn-block"
                [disabled]="!selectedSubmissionsAreValid"
                [routerLink]="selected ? ['/review/' + selected[0]?.id + '/' + selected[1]?.id] : []">
          Diff
        </button>
      </div>

      <div class="pb-2">
        <hr>
        <h5>Filters</h5>
      </div>
      <form [formGroup]="filters" *ngIf="!loading">
        <div class="row">
          <div class="form-group col-lg">
            <label>Course</label>
            <ng-select [items]="courseOptions"
                       bindLabel="codename"
                       (ngModelChange)="onCourseSelect($event)"
                       placeholder="Select course"
                       formControlName="course">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg">
            <label>Project</label>
            <ng-select [items]="projectOptions"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       [searchable]="true"
                       bindLabel="codename"
                       placeholder="Select project"
                       [disabled]="selectedCourse === null"
                       formControlName="project">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg">
            <label>Group</label>
            <ng-select [items]="groupOptions"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       [searchable]="true"
                       bindLabel="codename"
                       placeholder="Select group"
                       [disabled]="selectedCourse === null"
                       formControlName="group">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg">
            <label>Role</label>
            <ng-select [items]="roleOptions"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       [searchable]="true"
                       bindLabel="codename"
                       placeholder="Select role"
                       [disabled]="selectedCourse === null"
                       formControlName="role">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg">
            <button class="btn btn-primary btn-block"
                    type="submit"
                    (click)="showFiltered()">
              Filter
            </button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="form-group col-lg">
          <label>State</label>
          <angular2-multiselect [data]="stateOptions"
                                [(ngModel)]="selectedState"
                                [settings]="stateSettings"
                                (onSelect)="onStateSelect($event)"
                                (onDeSelect)="onAnyDeselect($event)">
          </angular2-multiselect>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg">
          <label>Result</label>
          <angular2-multiselect [data]="resultOptions"
                                [(ngModel)]="selectedResult"
                                [settings]="resultSettings"
                                (onSelect)="onResultSelect($event)"
                                (onDeSelect)="onAnyDeselect($event)">
          </angular2-multiselect>
        </div>
      </div>
    </div>
  </div>
</div>
