<div class="container">
  <div class="page-header">
    <h1>Edit Profile</h1>

  </div>

  <div id="change-password" class="page-body">
    <h3>Change Password</h3>
    <form [formGroup]="passwordForm" class="form-signin">

      <div class="form-group row" *ngIf="(!loggedInUser.is_admin)">
        <label class="col-lg-3 control-label">Current password:</label>
        <div class="col-lg-8">
          <input type="password" id="oldPassword" formControlName="oldPassword"
                 class="form-control"
                 placeholder="Current password" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">New password:</label>
        <div class="col-lg-8">
          <input type="password" id="newPassword" formControlName="newPassword"
                 class="form-control"
                 placeholder="New password" required minlength="6">
        </div>
      </div>


      <div *ngIf="(newPassword.dirty || newPassword.touched) && (newPassword.status === 'INVALID' || !checkMatchingPasswords())" class="alert alert-danger">
        <div *ngIf="newPassword?.errors?.minlength  || newPasswordAgain.errors?.required">
          Password must be at least 6 characters long.
        </div>
        <div *ngIf="!checkMatchingPasswords()">
          Passwords must match.
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Repeat new password:</label>
        <div class="col-lg-8">
          <input type="password" id="newPasswordAgain" formControlName="newPasswordAgain" class="form-control"
                 placeholder="Repeat new password" required minlength="6">
        </div>
      </div>

      <div *ngIf="(newPasswordAgain.dirty || newPasswordAgain.touched) && (newPassword.status === 'INVALID' || !checkMatchingPasswords())" class="alert alert-danger">
        <div *ngIf="newPasswordAgain?.errors?.minlength || newPasswordAgain.errors?.required">
          Password must be at least 6 characters long.
        </div>
        <div *ngIf="!checkMatchingPasswords()">
          Passwords must match.
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button [attr.disabled]="((passwordForm.status === 'VALID') && checkMatchingPasswords()) ? null : true"
                  class="btn btn-primary btn-signin"
                  type="submit" (click)="changePassword()">
            Change password
          </button>
          <span></span>
          <input type="reset" class="btn btn-default" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</div>
