<ngx-datatable
  #table
  class="bootstrap"
  [columnMode]="'force'"
  [rows]="submissions"
  [loadingIndicator]="loadingIndicator"
  [rowHeight]="'flex'"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="limit"
  [selected]="selected"
  [selectionType]="'checkbox'"
  (select)='onSelect($event)'
  [selectAllRowsOnPage]="false"
  [sorts]="[{prop: 'created_at', dir: 'desc'}]"
  [reorderable]="reorderable">
  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset">
      <div style="padding: 5px 10px">
        <div>
          Rows: {{rowCount}} |
          Current: {{curPage}}
        </div>
      </div>
      <div>
        <div>
          <button class="btn" (click)="reloadSubmissions()">Reload submissions</button>
        </div>
      </div>
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!((rowCount / pageSize) > 1)"
        (change)="table.onFooterPage($event)">
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>

  <ngx-datatable-column
    [width]="50"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="false"
    [checkboxable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column name="Submitted at" prop="created_at">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/review/' + row.id]">{{value | date: 'dd.MM.yyyy HH:mm.ss'}}</a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Result" prop="result">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Points" prop="points">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.points}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="State" prop="state">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Course/Project" prop="project">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/courses/' + row.course.id]">{{row.course.codename}}</a>/
      <a [routerLink]="['/courses/' + row.course.id + '/projects/' + row.project.id]">
        {{row.project.codename}}
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Author" prop="user">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/users/' + value.username ]">{{value.username}}</a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Cancel" prop="id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-danger" (click)="cancelSubmission(value)">
        Cancel
      </button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Review" prop="id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-warning" [routerLink]="['/review/' + value ]">Review tool</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
