<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-2">
      <app-generic-tree-view *ngIf="sourcesTree" [treeView]="sourcesTree" [component]="'sources'"></app-generic-tree-view>
    </div>
    <div class="col-sm-6 pl-0 pr-1" id="editor-column">
      <app-generic-editor [component]="'sources'"></app-generic-editor>
    </div>
    <div class="col-sm pt-3" id="reviews-column">
      <app-review-list *ngIf="sourcesTree && submission" [review]="review" [submission]="submission" [tree]="sourcesTree"></app-review-list>
    </div>
  </div>
</div>
