<div class="container">
  <div class="row">
    <div class="col-md-10">

      <div class="header">
        <hr>
        <h4>Submission <strong>{{submission?.created_at | date: 'dd.MM.yyyy HH:mm:ss'}}</strong></h4>
        <span>
            <button *ngIf="['CREATED', 'READY', 'QUEUED'].includes(submission.state) && userCanCancelSubmission()"
                    type="button" class="btn btn-outline-secondary mr-1" (click)="cancelSubmission()">
              Cancel Submission
            </button>

            <button *ngIf="!['CANCELLED', 'CREATED'].includes(submission.state) && userCanResubmitSubmission()"
                    type="button" data-toggle="modal" data-target="#resubmit_submission_modal" class="btn btn-outline-warning mr-1">
              Resubmit
            </button>

            <button *ngIf="loggedInUser?.is_admin"
                    type="button" data-toggle="modal" data-target="#delete_submission_modal" class="btn btn-outline-danger">
              Delete
            </button>
        </span>
      </div>

      <table class="table">
        <thead></thead>
        <tbody>
        <tr>
          <th scope="row">Author</th>
          <td>
            <a routerLinkActive="active" [routerLink]="['/users/' + submission?.user?.id]">
              {{submission?.user?.username}}
            </a>
            <span> ({{submission?.user?.uco}})</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Course</th>
          <td>
            <a routerLinkActive="active" [routerLink]="['/courses/' + submission?.course?.id]">
              {{submission?.course?.codename}}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Project</th>
          <td>
            <a routerLinkActive="active" [routerLink]="['/courses/' + submission?.course?.id + '/projects/' + submission?.project?.id]">
              {{submission?.project?.codename}}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td>{{submission?.state}}</td>
        </tr>
        <tr>
          <th scope="row">Result</th>
          <td>{{submission?.result}}</td>
        </tr>
        <tr>
          <th scope="row">Points</th>
          <td>{{submission?.points}}</td>
        </tr>
        <tr>
          <th scope="row">Created</th>
          <td>{{submission?.created_at | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th scope="row">Updated</th>
          <td>{{submission?.updated_at | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>

        </tbody>
      </table>
      <br>
      <br>
      <table class="table">
        <thead></thead>
        <tbody>
        <tr>
          <th scope="row">Source Hash</th>
          <td>{{submission?.source_hash}}</td>
        </tr>
        <tr>
          <th scope="row">Submission Parameters</th>
          <td>{{submission?.parameters | json}}</td>
        </tr>
        <tr>
          <th scope="row">Submission Note</th>
          <td>{{submission?.note | json}}</td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10">

      <div class="header">
        <hr>
        <h4>Download resources</h4>
        <span>
          <button *ngIf="userCanViewSources()" type="button" class="btn btn-outline-primary  mr-2" (click)="downloadZip('sources')">Sources</button>
          <button *ngIf="userCanDownloadTestFiles()" type="button" class="btn btn-outline-primary  mr-2" (click)="downloadZip('test_files')">Test files</button>
          <button *ngIf="userCanDownloadResults()" type="button" class="btn btn-outline-primary" (click)="downloadZip('results')">Results</button>
        </span>
      </div>

    </div>
  </div>
</div>






<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_submission_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Submission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Do you wish to delete submission: <strong>{{submission?.id}}</strong>
            from course {{submission?.project?.course?.codename}} authored by {{submission?.user?.username}}?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteSubmission()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="userCanResubmitSubmission()">

  <div id="resubmit_submission_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Resubmit Submission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Do you wish to resubmit submission: <strong>{{submission?.id}}</strong>
            from course {{submission?.project?.course?.codename}} authored by {{submission?.user?.username}}?
            The submission's author will be its original author.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resubmitSubmission()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

</div>
