.header {
  padding-bottom: 30px;
}

.header h4 {
  display: inline;
}

.header span {
  float: right;
}

.btn {
  font-weight: bold;
}

.table {
  table-layout: fixed;
}

.container {
  padding: 30px 50px 20px 50px;
}
