<div class="container" id="workers-list">

  <div class="header">
    <hr/>
    <h4>Workers</h4>
    <span>
      <button type="button"
                  class="btn btn-outline-success"
                  routerLinkActive="active"
                  [routerLink]="['/workers/create']"
                  style="font-weight: bold; margin-right: 10px">
      New worker
    </button>
      <button type="button"
                    class="btn btn-outline-primary"
                    style="font-weight: bold">
      Copy worker
    </button>
    </span>
  </div>

  <div class="content">
    <div>
      <input
        id="workerSearchField"
        class="form-control"
        type='text'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'/>
    </div>
    <br>
    <ngx-datatable
      #table
      class="bootstrap"
      [rows]="workers"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [reorderable]="reorderable">
      <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/workers/' + value]">{{value}}</a>
        </ng-template>
        s
      </ngx-datatable-column>
      <ngx-datatable-column name="Url" prop="url" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated at" prop="updated_at" [flexGrow]="2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value | date: 'medium'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created at" prop="created_at" [flexGrow]="4">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'medium'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Update" sortable="false" prop="id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/users/' + value]"><span class="fa fa-edit"></span></a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>

</div>
