<div id="gl-projects-list" class="container">
  <div class="row">
    <h1>
      Gitlab projects
    </h1>
    <hr />
  </div>


  <div class="row" *ngIf="loggedInUser.is_admin">
    <button class="btn btn-outline-dark" (click)="glEnableServiceToken()">Enable service token</button>
  </div>

  <div class="row">
    <input
      id="glProjectSearch"
      type='text'
      class="form-control col-4 mt-4"
      placeholder='Type to filter the gitlab project...'
      (keyup)='updateFilter($event)'
    />
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="projects"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="20"
        [columnMode]="'force'"
        [loadingIndicator]="loadingIndicator"
        [rowHeight]="'auto'">

        <ngx-datatable-column name="Path" prop="path_with_namespace">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [href]="row.web_url">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Url" prop="web_url">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [href]="row.web_url">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Enable">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-outline-dark" (click)="enableGLProject(row)">
              <i class="fas fa-check-square"></i>
               Enable</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>
