<div class="container">
  <div class="page-header">

    <h1>Group: {{group?.name}}</h1>

    <div class="row page-controls">
      <div class="col-lg-6">
        {{group?.description}}
      </div>

      <div class="col-lg-6">
        <button class="btn btn-outline-info mr-1"
                [routerLink]="['/courses/' + group?.course?.id]">Course ({{group?.course?.codename}})
        </button>
        <a routerLinkActive="active" class="mr-4 btn btn-outline-secondary"
           [routerLink]="['/courses/' + group?.course.id + '/groups']">
          Groups
        </a>
        <button data-toggle="modal" data-target="#delete_group_modal" class="btn btn-danger mr-4"
                *ngIf="userCanUpdateGroup()">
          Delete
        </button>

        <button class="btn btn-dark mr-1" [routerLink]="['users']" *ngIf="userCanUpdateGroup()">
          Users
        </button>
        <button class="btn btn-info mr-1" [routerLink]="['projects']" *ngIf="userCanUpdateGroup()">
          Projects
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control"
                 required maxlength="50" minlength="3">
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input type="text" id="codename" formControlName="codename" class="form-control"
                 required maxlength="30" minlength="3">
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea
            id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="container-fluid text-right" *ngIf="userCanUpdateGroup()">
        <button class="btn btn-primary btn-signin mr-5" type="submit" (click)="updateGroup()">
          Update
        </button>
        <span></span>
        <button class="btn btn-outline-secondary" value="Revert" (click)="resetForm()">
          Revert
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">
  <div id="delete_group_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete group: <strong>{{group?.name}} from course {{group?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteGroup()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
