<!--
<div class="wrapper">
  <div class="container-fluid">
    <div class="row p-0">
      <div class="col-md-6 info-col">
        <span style="font-weight: bold">
          <a [routerLink]="['/users/' + firstSubmission?.user?.id]">
            {{firstSubmission?.user?.name}}
          </a>
        </span> | {{firstSubmission?.course?.codename}}/{{firstSubmission?.project?.codename}} |  {{firstSubmission?.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
      </div>
      <div class="col-md-6 info-col">
        <span style="font-weight: bold">
          <a [routerLink]="['/users/' + secondSubmission?.user?.id]">
            {{secondSubmission?.user?.name}}
          </a>
        </span> | {{secondSubmission?.course?.codename}}/{{secondSubmission?.project?.codename}} |  {{secondSubmission?.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        <div class="form-check pl-4" style="float: right">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="setInline()">
          <label class="form-check-label" for="defaultCheck1">
            Inline diff
          </label>
          <button class="btn btn-outline-primary ml-3" (click)="reloadFiles()" [disabled]="!path"  data-toggle="tooltip" data-placement="bottom" title="Reload and revert changes">
            Reload
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="container-diff"></div>
</div>
-->

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 info-col">
        <span style="font-weight: bold">
          <a [routerLink]="['/users/' + firstSubmission?.user?.id]">
            {{firstSubmission?.user?.name}}
          </a>
        </span> | {{firstSubmission?.course?.codename}}/{{firstSubmission?.project?.codename}} |  {{firstSubmission?.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
      </div>
      <div class="col-md-6 info-col">
        <span style="font-weight: bold">
          <a [routerLink]="['/users/' + secondSubmission?.user?.id]">
            {{secondSubmission?.user?.name}}
          </a>
        </span> | {{secondSubmission?.course?.codename}}/{{secondSubmission?.project?.codename}} |  {{secondSubmission?.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}
        <div class="form-check pl-4" style="float: right">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (change)="setInline()">
          <label class="form-check-label" for="defaultCheck1">
            Inline diff
          </label>
          <button class="btn btn-outline-primary ml-3" (click)="reloadFiles()" [disabled]="!path"  data-toggle="tooltip" data-placement="bottom" title="Reload and revert changes">
            Reload
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="container-diff"></div>
</div>
