<div class="container">
  <div class="row">
    <h1>
      Gitlab Integration
    </h1>
  </div>

  <div class="row">
    <div class="col-md-2">
      <a [routerLink]="['/integration/gitlab/projects']">Gitlab Projects</a>
    </div>
  </div>

  <app-gitlab-projects>

  </app-gitlab-projects>
</div>
