// sass variables: https://sass-lang.com/guide
// media breakpoints: https://getbootstrap.com/docs/4.2/layout/overview/

$sidebar-full-width: 85px;
$sidebar-small-width: 50px;

.wrapper {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: $sidebar-full-width;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #0E3D8E;
  transition: all 0.25s;
}

.content-wrapper {
  padding: 0 0 0 0;
  margin-left: $sidebar-full-width;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .sidebar {
    display: none;
  }

  .content-wrapper {
    margin-left: 0 !important;
  }
}

// Small devices (landscape phones, less than 768px)
/*
@media (max-width: 767.98px) {
  .sidebar {
    width: $sidebar-small-width;
  }

  .content-wrapper {
    margin-left: $sidebar-small-width;
  }
}
*/

/*
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
*/

