<div class="wrapper">
  <div class="sidebar">
    <app-side-menu *ngIf="loggedInUser" [type]="'review'"></app-side-menu>
  </div>
  <div class="content-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
