<div class="basic-login-wrapper">
  <div class="basic-login-body">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" formControlName="username">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" formControlName="password" aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
          <a [routerLink]="['/auth/forgot']">Forgot your password?</a>
        </small>
      </div>
      <button type="submit" class="btn btn-primary btn-block" (click)="doLogin()">Log In</button>
    </form>
  </div>
  <div class="basic-login-messages">
    <div class="container flash-messages-container">
      <flash-messages></flash-messages>
    </div>
  </div>
</div>



