.basic-login-wrapper {
  padding: 15px 20px 5px 20px;
  font-size: 14px;
}

.basic-login-messages {
  padding: 20px 0 0 0;
}

.form-control {
  background: #FCFCFC;
  border: #EAEAEA 1px solid;
  border-radius: 0;
}
