<div class="wrapper">

  <div *ngIf="type == 'base'">
    <div id="side-nav">
      <div class="logo">

      </div>
      <div id="side-nav-item-dashboard" class="side-nav-item selectable" [class.active]="isDashboardRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Dashboard" (click)="goToDashboard()">
        <div><i class="fas fa-home"></i>Dashboard</div>
      </div>

      <div id="side-nav-item-users" *ngIf="loggedInUser?.is_admin" class="side-nav-item selectable" [class.active]="isUsersRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Users" (click)="toggleSubMenu(submenuTypes.Users)">
        <div><i class="fas fa-users"></i>Users</div>
      </div>

      <div id="side-nav-item-courses" class="side-nav-item selectable" [class.active]="isCoursesRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Courses" (click)="toggleSubMenu(submenuTypes.Courses)">
        <div><i class="fas fa-book"></i>Courses</div>
      </div>

      <div id="side-nav-item-submissions" class="side-nav-item selectable" [class.active]="isSubmissionsRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Submissions"
           [routerLink]="['/submissions']">
        <div><i class="fas fa-paper-plane"></i>Submissions</div>
      </div>


      <div id="side-nav-item-components" *ngIf="loggedInUser?.is_admin" class="side-nav-item selectable"
           [class.active]="isWorkersRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Workers" (click)="toggleSubMenu(submenuTypes.Workers)">
        <div><i class="fas fa-cogs"></i>Workers</div>
      </div>

      <div id="side-nav-item-integration" class="side-nav-item selectable" [class.active]="isIntegrationRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Integration"
           [routerLink]="['/integration']">
        <div><i class="fas fa-link"></i>Integration</div>
      </div>

    </div>


    <div id="side-nav-details" [class.out]="subMenuOut">

      <div id="side-nav-detail-courses" class="side-nav-detail-item" *ngIf="currentSubmenu === submenuTypes.Courses">
        <div class="action" [class.active]="isRouteActive('/courses', true)">
          <a routerLink="/courses"><span class="fa fa-fw fa-list"></span><span>View all courses</span></a>
        </div>
        <div class="action" *ngIf="loggedInUser.is_admin" [class.active]="isRouteActive('/courses/create')">
          <a routerLink="/courses/create"><span
            class="fas fa-plus-square"></span><span>Create New Course</span></a>
        </div>
        <div class="action" *ngIf="loggedInUser.is_admin"
             [class.active]="isRouteActive('/courses/copy')">
          <a routerLink="/courses/copy"><span class="fas fa-copy"></span><span>Copy Course</span></a>
        </div>
      </div>


      <div id="side-nav-detail-workers" class="side-nav-detail-item"
           *ngIf="currentSubmenu === submenuTypes.Workers && loggedInUser.is_admin">
        <div class="action" [class.active]="isRouteActive('/workers', true)">
          <a routerLink="/workers"><span class="fa fa-fw fa-list"></span><span>View all workers</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/workers/create')">
          <a routerLink="/workers/create"><span
            class="fas fa-plus-square"></span><span>Create New Worker</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/workers/copy')">
          <a routerLink="/workers/copy"><span class="fas fa-copy"></span><span>Copy Worker</span></a>
        </div>
      </div>


      <div id="side-nav-detail-users" class="side-nav-detail-item"
           *ngIf="currentSubmenu === submenuTypes.Users && loggedInUser.is_admin">
        <div class="action" [class.active]="isRouteActive('/users', true)">
          <a routerLink="/users"><span class="fa fa-fw fa-list"></span><span>View all users</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/users/create')">
          <a routerLink="/users/create"><span
            class="fas fa-plus-square"></span><span>Create New User</span></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'review'">

    <div id="review-nav">
      <div class="logo">

      </div>
      <div id="review-nav-item-dashboard" class="review-nav-item selectable" [class.active]="isDashboardRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Dashboard" (click)="goToDashboard()">
        <div><i class="fas fa-home"></i>Dashboard</div>
      </div>

      <div id="review-nav-item-users" *ngIf="loggedInUser?.is_admin" class="review-nav-item selectable" [class.active]="isUsersRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Users" (click)="toggleSubMenu(submenuTypes.Users)">
        <div><i class="fas fa-users"></i>Users</div>
      </div>

      <div id="review-nav-item-courses" class="review-nav-item selectable" [class.active]="isCoursesRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Courses" (click)="toggleSubMenu(submenuTypes.Courses)">
        <div><i class="fas fa-book"></i>Courses</div>
      </div>

      <div id="review-nav-item-submissions" class="review-nav-item selectable" [class.active]="isSubmissionsRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Submissions"
           [routerLink]="['/submissions']">
        <div><i class="fas fa-paper-plane"></i>Submissions</div>
      </div>


      <div id="review-nav-item-components" *ngIf="loggedInUser?.is_admin" class="review-nav-item selectable"
           [class.active]="isWorkersRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Workers" (click)="toggleSubMenu(submenuTypes.Workers)">
        <div><i class="fas fa-cogs"></i>Workers</div>
      </div>

      <div id="review-nav-item-integration" class="review-nav-item selectable" [class.active]="isIntegrationRoute()"
           [class.selected]="currentSubmenu === submenuTypes.Integration"
           [routerLink]="['/integration']">
        <div><i class="fas fa-link"></i>Integration</div>
      </div>

    </div>


    <div id="review-nav-details" [class.out]="subMenuOut">

      <div id="review-nav-detail-courses" class="review-nav-detail-item" *ngIf="currentSubmenu === submenuTypes.Courses">
        <div class="action" [class.active]="isRouteActive('/courses', true)">
          <a routerLink="/courses"><span class="fa fa-fw fa-list"></span><span>View all courses</span></a>
        </div>
        <div class="action" *ngIf="loggedInUser.is_admin" [class.active]="isRouteActive('/courses/create')">
          <a routerLink="/courses/create"><span
            class="fas fa-plus-square"></span><span>Create New Course</span></a>
        </div>
        <div class="action" *ngIf="loggedInUser.is_admin"
             [class.active]="isRouteActive('/courses/copy')">
          <a routerLink="/courses/copy"><span class="fas fa-copy"></span><span>Copy Course</span></a>
        </div>
      </div>


      <div id="review-nav-detail-workers" class="review-nav-detail-item"
           *ngIf="currentSubmenu === submenuTypes.Workers && loggedInUser.is_admin">
        <div class="action" [class.active]="isRouteActive('/workers', true)">
          <a routerLink="/workers"><span class="fa fa-fw fa-list"></span><span>View all workers</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/workers/create')">
          <a routerLink="/workers/create"><span
            class="fas fa-plus-square"></span><span>Create New Worker</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/workers/copy')">
          <a routerLink="/workers/copy"><span class="fas fa-copy"></span><span>Copy Worker</span></a>
        </div>
      </div>


      <div id="review-nav-detail-users" class="review-nav-detail-item"
           *ngIf="currentSubmenu === submenuTypes.Users && loggedInUser.is_admin">
        <div class="action" [class.active]="isRouteActive('/users', true)">
          <a routerLink="/users"><span class="fa fa-fw fa-list"></span><span>View all users</span></a>
        </div>
        <div class="action" [class.active]="isRouteActive('/users/create')">
          <a routerLink="/users/create"><span
            class="fas fa-plus-square"></span><span>Create New User</span></a>
        </div>
      </div>
    </div>

  </div>
</div>
