$details-width: 160px;
$sidebar-color: #194090;
$details-color: #163D88;
$sidebar-dark-color: #163A82;
$border-color: #12306D;

.wrapper {
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 45px;
}

i {
  margin-left: 5px;
  margin-right: 20px;
}

#side-nav {

  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 0; // fix according to top menu size
  left:0;
  overflow-x:hidden;
  background-color: $sidebar-color;
}
#side-nav .side-nav-item {
  color: #C0CDE8;
  padding: 20px 10px 20px 10px;
  text-align: left;
}
#side-nav .side-nav-item span.fa {
  // icon color
  color: #a2a6a9;
}

#side-nav .selectable:hover {
  background-color: $sidebar-dark-color;
  color: white;
  cursor: pointer;
}

#side-nav .selectable:hover span.fa {
  color: #990000;
}

#side-nav .selectable.active {
  background-color: $sidebar-dark-color;
  font-weight: bold;
  border-left: 3px solid $border-color;
  color: white;
}

#side-nav .selectable.active span.fa {
  color: #990000;
}

#side-nav .selectable.selected {
  color: white;
  font-weight: bold;
  background-color: $sidebar-dark-color;
}

#side-nav .selectable.selected span.fa {
  color: #990000;
}

#side-nav .side-nav-item > span {
  font-size: x-large;
}
#side-nav .side-nav-item > div {
  font-size: medium;
}

#side-nav-details {
  position: fixed;
  z-index: 2;
  left: -$details-width; //hide
  width: $details-width;
  top: 0; //0 fix according to top menu size
  height: 100%;
  background-color: $details-color;
  transition: left 200ms;
  color: white;
}

@media (max-width: 767.98px) {
  #side-nav-details.out {
    left: 50px !important;
  }
}

#side-nav-details.out {
  left: 190px;
  width: $details-width;
  transition: all 0.25s;
}

#side-nav-details .side-nav-detail-item {
  line-height: 42px;
  font-size:small;
}

#side-nav-details .side-nav-detail-item .action {
  padding-left: 8px;
}
#side-nav-details .side-nav-detail-item .action a {
  color: white;
}
#side-nav-details .side-nav-detail-item .action a span:first-child {
  width: 24px;
  text-align: center;
}
#side-nav-details .side-nav-detail-item .action:hover {
  background-color: $sidebar-dark-color;
}
#side-nav-details .side-nav-detail-item .action.active {
  background-color: $sidebar-dark-color;
}


// review

#review-nav {

  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 0; // fix according to top menu size
  left:0;
  overflow-x:hidden;
  background-color: $sidebar-color;
}
#review-nav .review-nav-item {
  color: #C0CDE8;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-size: 12px;
}
#review-nav .review-nav-item span.fa {
  // icon color
  color: #a2a6a9;
  align-self: center;
}

#review-nav .selectable:hover {
  background-color: $sidebar-dark-color;
  color: white;
  cursor: pointer;
}

#review-nav .selectable:hover span.fa {
  color: #990000;
}

#review-nav .selectable.active {
  background-color: $sidebar-dark-color;
  font-weight: bold;
  border-left: 3px solid $border-color;
  color: white;
}

#review-nav .selectable.active span.fa {
  color: #990000;
}

#review-nav .selectable.selected {
  color: white;
  font-weight: bold;
  background-color: $sidebar-dark-color;
}

#review-nav .selectable.selected span.fa {
  color: #990000;
}

#review-nav .side-nav-item > span {
  font-size: x-large;
}
#review-nav .side-nav-item > div {
  font-size: medium;
}

#review-nav-details {
  position: fixed;
  z-index: 2;
  left: -$details-width; //hide
  width: $details-width;
  top: 0; //0 fix according to top menu size
  height: 100%;
  background-color: $details-color;
  transition: left 200ms;
  color: white;
}

@media (max-width: 767.98px) {
  #review-nav-details.out {
    left: 50px !important;
  }
}

#review-nav-details.out {
  left: 85px;
  width: $details-width;
  transition: all 0.25s;
}

#review-nav-details .review-nav-detail-item {
  line-height: 42px;
  font-size:small;
}

#review-nav-details .review-nav-detail-item .action {
  padding-left: 8px;
}
#review-nav-details .review-nav-detail-item .action a {
  color: white;
}
#review-nav-details .review-nav-detail-item .action a span:first-child {
  width: 24px;
  text-align: center;
}
#review-nav-details .review-nav-detail-item .action:hover {
  background-color: $sidebar-dark-color;
}
#review-nav-details .review-nav-detail-item .action.active {
  background-color: $sidebar-dark-color;
}


