<div class="container">

  <div class="page-header">
    <h1>{{project?.name}} ({{project?.state}})</h1>

    <div class="row page-controls">
      <div class="col-lg-6">
        {{project?.description}}
      </div>

      <div class="col-lg-6">
        <button class="btn btn-outline-info mr-1"
                [routerLink]="['/courses/' + project?.course?.id]">Course ({{project?.course?.codename}})
        </button>
        <button class="btn btn-success mr-1"
                routerLinkActive="active" [routerLink]="['/submissions/create']"
                [queryParams]="{course_id: project.course.id, project_id: project.id}">
          <span class="fa fa-plus-circle"></span>
          New submission
        </button>
        <button
          data-toggle="modal" data-target="#delete_project_modal" class="btn btn-danger pull-right mr-1">
          Delete
        </button>
        <button class="btn btn-primary mr-1" (click)="updateTestFiles()">Update test files</button>
      </div>
    </div>
  </div>


  <div class="col-md-9 page-body">
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input type="text" id="codename" formControlName="codename" class="form-control" required>
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="assignment_url" class="col-lg-3 control-label">Assignment url:</label>
        <div class="col-lg-8">
          <input type="text" id="assignment_url" formControlName="assignment_url" class="form-control">
        </div>
      </div>


      <div class="form-group row">
        <label for="state" class="col-lg-3 control-label">State:</label>
        <div class="col-lg-8">
          <input id="state" class="form-control" type="text" disabled value="{{project?.state.toLowerCase()}}"/>
        </div>
      </div>

      <div class="custom-control custom-checkbox">
        <label for="submit_configurable" class="custom-control-label">Submit Configurable</label>
        <input type="checkbox" id="submit_configurable" formControlName="submit_configurable"
               class="custom-control-input">
      </div>



      <div class="container-fluid text-right" *ngIf="userCanUpdateProject()">
          <button class="btn btn-primary btn-signin mr-5" type="submit" (click)="updateProject()">
            Update
          </button>
          <button class="btn btn-default mr-2 btn-outline-danger" (click)="resetForm()">Revert</button>
      </div>
    </form>

    <hr>

    <div class="card mt-4" [attr.name]="'configuration'">
      <div class="card-header projects-header" [id]="['project-header-config']">

        <button class="btn btn-link" data-toggle="collapse"
                [attr.data-target]="['#project-collapse-config']"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="['project-collapse-config']">
          <strong><span class="fa fa-caret-down"></span></strong>
        </button>
        <a>
          Configuration
        </a>
      </div>

      <div [id]="['project-collapse-config']"
           class="collapse"
           [class.show]="showConfig ? 'show' : ''"
           [attr.aria-labelledby]="['project-header-config']">
        <app-project-config
          [loggedInUser]="loggedInUser"
          [project]="project"></app-project-config>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_project_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete project: <strong>{{project?.name}} from course {{project?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProject()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
