<div id="role-users-list" class="container">
  <div class="row page-header">
    <h1>
      Users in the group: {{group?.name}}
    </h1>
  </div>

  <div class="container page-body" style="margin-bottom: 30px" *ngIf="userCanManageUsers()">
    <div class="find-form">
      <form [formGroup]="formData">
        <div class="form-group row">
          <label class="col-lg-2 control-label" for="username">Add user:</label>
          <div class="col-lg-3">
            <input type="text" id="username"
                   formControlName="username" class="form-control"
                   placeholder="Username" required autofocus>
          </div>
          <div class="col-lg-3">
            <button [attr.disabled]="(formData.status === 'VALID') && userCanManageUsers() ? null : true"
                    class="btn btn-lg btn-primary btn-signin"
                    type="submit" (click)="doAddUser()">
              ADD
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container" id="roles-container-list" *ngIf="userCanManageUsers()">
      <div>
        <ngx-datatable
          #table
          class="bootstrap"
          [rows]="group.users"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [rowHeight]="'auto'"
          [headerHeight]="50"
          [footerHeight]="40"
          [reorderable]="reorderable">
          <ngx-datatable-column name="Username" prop="username" [flexGrow]="3">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a [routerLink]="[row.id]">{{value}}</a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Remove" [flexGrow]="3" *ngIf="userCanManageUsers()">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <button (click)="doRemoveUser(row?.id)" class="btn btn-danger">
                <span class="fa fa-trash"></span>
              </button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
