<div class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created at</th>
      <th scope="col">Expires at</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let secret of secrets">
      <td>
        <a>
          {{secret?.name}}
        </a>
      </td>
      <td>
        <a>
          {{secret?.created_at | date:'dd.MM.yyyy HH:mm.ss':'+0000'}}
        </a>
      </td>
      <td>
        <a *ngIf="secret?.expires_at">
          {{secret?.expires_at | date:'dd.MM.yyyy HH:mm.ss':'+0000'}}
        </a>
        <a *ngIf="!secret?.expires_at">
          Never
        </a>
      </td>
      <td style="text-align: right">
        <button
          data-toggle="modal"
          [attr.data-target]="['#delete_modal-' + secret.id]" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i> Delete
        </button>
        <div style="text-align: left">
          <app-delete-modal [loggedInUser]="loggedInUser" [secret]="secret"></app-delete-modal>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


