<ngx-datatable
  class="bootstrap"
  [rows]="collection"
  [columnMode]="'force'"
  [rowHeight]="'auto'"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="10">

  <ngx-datatable-column prop="codename" >
    <ng-template let-column="column" ngx-datatable-header-template>
      <a [routerLink]="path">All {{path}}</a>
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="[ path + '/' + value]">{{value}}</a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
