<div id="delete_course_modal" class="modal" tabindex="-1" role="dialog" *ngIf="(loggedInUser?.is_admin)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you wish to delete course: <strong>{{course?.codename}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCourse()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-gs-tab" data-toggle="pill" href="#v-pills-gs" role="tab" aria-controls="v-pills-gs" aria-selected="true">General settings</a>
            <a class="nav-link" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-projects" role="tab" aria-controls="v-pills-projects" aria-selected="false">Projects</a>
            <a class="nav-link" id="v-pills-roles-tab" data-toggle="pill" href="#v-pills-roles" role="tab" aria-controls="v-pills-roles" aria-selected="false">Roles</a>
            <a class="nav-link" id="v-pills-groups-tab" data-toggle="pill" href="#v-pills-groups" role="tab" aria-controls="v-pills-groups" aria-selected="false">Groups</a>
          </div>
        </div>
        <div class="col-md-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-gs" role="tabpanel" aria-labelledby="v-pills-gs-tab">

              <div class="col-md-9">
              <div class="header pb-5">

                    <h3>
                      Course: <strong>{{course?.name}}</strong>
                    </h3>
                </div>
              </div>

              <div class="course-body">
                <div class="col-md-9">
                  <form [formGroup]="updateFormData">
                    <div class="form-group row">
                      <label for="name" class="col-lg-3 control-label">Name:</label>
                      <div class="col-lg">
                        <input type="text" id="name" formControlName="name" class="form-control"
                               required minlength="3" maxlength="50">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="codename" class="col-lg-3 control-label">Codename:</label>
                      <div class="col-lg">
                        <input type="text" id="codename" formControlName="codename" class="form-control"
                               required minlength="3" maxlength="30">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="description" class="col-lg-3 control-label">Description:</label>
                      <div class="col-lg">
          <textarea id="description" formControlName="description" class="form-control"
                    placeholder="Description..."> </textarea>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="state" class="col-lg-3 control-label">State:</label>
                      <div class="col-lg">
                        <input id="state" class="form-control" type="text" disabled value="{{course?.state}}"/>
                      </div>
                    </div>

                    <hr>
                    <span style="float: left">
                    <button *ngIf="userCanUpdateCourse()" class="btn btn-outline-primary mr-2" routerLinkActive="active" [routerLink]="['/courses/import']">
                      Import settings
                    </button>
                    <button *ngIf="loggedInUser?.is_admin" data-toggle="modal" data-target="#delete_course_modal" class="btn btn-outline-danger">
                      Delete
                    </button>
                  </span>
                    <div *ngIf="(userCanUpdateCourse())">
                      <span style="float: right">
                        <button class="btn btn-outline-primary mr-2" (click)="resetForm()" type="submit">
                          Cancel
                        </button>
                        <button class="btn btn-outline-success" [disabled]="updateFormData.invalid" (click)="updateCourse()" type="submit">
                          Update
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="v-pills-projects" role="tabpanel" aria-labelledby="v-pills-projects-tab">
              <app-course-resource [collection]="course.projects" [path]="'projects'">
              </app-course-resource>
            </div>
            <div class="tab-pane fade" id="v-pills-roles" role="tabpanel" aria-labelledby="v-pills-roles-tab">
              <app-course-resource [collection]="course.roles" [path]="'roles'">
              </app-course-resource>
            </div>
            <div class="tab-pane fade" id="v-pills-groups" role="tabpanel" aria-labelledby="v-pills-groups-tab">
              <app-course-resource [collection]="course.groups" [path]="'groups'">
              </app-course-resource>
            </div>
          </div>
        </div>
      </div>
</div>
