<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <app-generic-tree-view *ngIf="testOutputsTree" [treeView]="testOutputsTree" [component]="'results'"></app-generic-tree-view>
    </div>
    <div class="col-sm p-0" id="editor-column">
      <app-generic-editor [component]="'results'"></app-generic-editor>
    </div>
  </div>
</div>
