<div id="role-users-list" class="container">
  <div class="page-header">
    <h1>
      Users having role <strong>{{role?.name}}</strong> in course <strong>{{course?.name}}</strong>
    </h1>

  </div>

  <div class="container page-body" style="margin-bottom: 30px">
    <div class="find-form">
      <form [formGroup]="formData">
        <div class="form-group row">
          <label class="col-lg-2 control-label" for="username">Add user:</label>
          <div class="col-lg-3">
            <input type="text" id="username"
                   formControlName="username" class="form-control"
                   placeholder="Username" required autofocus>
          </div>
          <div class="col-lg-3">
            <button [attr.disabled]="(formData.status === 'VALID') && userCanAddUser() ? null : true"
                    class="btn btn-lg btn-primary btn-signin"
                    type="submit" (click)="doAddUser()">Find
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container" id="roles-container-list">
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="clients"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [footerHeight]="40"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="'/users/' + [row.id]">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Type" prop="type" [flexGrow]="3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Remove" [flexGrow]="3" *ngIf="userCanAddUser()">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button (click)="doRemoveUser(row?.id)" class="btn btn-danger">
              <span class="fa fa-trash"></span>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
