<div class="container">
  <div class="page-header">
    <h1>
      Submission <strong>{{submission.created_at | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}</strong>
    </h1>


    <div class="container row page-controls">
      <div class="col-lg-12">
        <hr/>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-block" routerLinkActive="active"
                [routerLink]="['/submissions/']">
          Back to submissions
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>Submission Stats:</h2>
    </div>
    <div class="col-md-9 page-body">
      <div class="container" *ngIf="stats">
        <pre>
          {{stats | json}}
        </pre>
      </div>
    </div>
  </div>
</div>
