<div class="container">

  <div class="page-header row">
    <h1 class="text-capitalize">
      {{worker?.name}}
    </h1>

    <div class="container-fluid text-right">
        <button data-toggle="modal" data-target="#delete_component_modal"
                class="btn btn-danger pull-right">
          Delete
        </button>
    </div>
  </div>


  <div class="col-md-9 page-body">
    <form [formGroup]="updateFormData" class="form-signin">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name"
                 class="form-control" placeholder="Name" required
                 pattern="\w+" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="url" class="col-lg-3 control-label">Url:</label>
        <div class="col-lg-8">
          <input type="text" id="url" formControlName="url"
                 class="form-control" placeholder="Url">
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-lg-3 control-label">Tags:</label>
        <div class="col-lg-8">
          <input type="text" id="tags" formControlName="tags"
                 class="form-control" placeholder="Tags" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="portalSecret" class="col-lg-3 control-label">Portal Secret:</label>
        <div class="col-lg-8">
          <input type="text" id="portalSecret" formControlName="portalSecret"
                 class="form-control" placeholder="Portal secret">
        </div>
      </div>


      <div class="container-fluid text-right">
          <button [attr.disabled]="updateFormData.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateWorker()">
            Update
          </button>
          <span></span>
          <input type="submit" class="btn btn-secondary ml-4" value="Revert" (click)="resetForm()">
        </div>
    </form>
  </div>

  <hr/>

  <div class="row mt-5">
    <div class="col-md-4">
      <h5>Secrets</h5>
      <div>
        <button type="button" class="btn btn-success" routerLinkActive="active"
                [routerLink]="['/secrets/create', {clientId: worker?.id}]">
          New Secret
        </button>
      </div>
    </div>
    <div class="col-md-8" style="padding: 0 0 0 0">
      <app-secret-list
        [loggedInUser]="loggedInUser"
        [secretsOwner]="worker">
      </app-secret-list>
    </div>
  </div>
</div>


<div id="delete_component_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete component</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you wish to delete component:
          <strong>{{worker?.name}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteComponent()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
