<h4>Submission Reviews</h4>
<hr>

<div *ngIf="canWriteReview()" class="mb-4">

  <div class="card">
    <div class="card-body">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-write-tab" data-toggle="tab" href="#nav-write" role="tab" aria-controls="nav-write" aria-selected="true">Write</a>
          <a [class.disabled]="createReviewItemForm.value['content'] == ''" class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false" >Preview</a>
        </div>
      </nav>
      <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-write" role="tabpanel" aria-labelledby="nav-write-tab">
          <form [formGroup]="createReviewItemForm" (submit)="createReviewItem()">
            <div class="row mb-2">
              <div class="col-md-6">
                <select class="form-control form-control-sm" formControlName="file">
                  <option selected value></option>
                  <option *ngFor="let file of filesForReview">
                    {{file['url'][0] === '.' ? file['name'] : file['url'] }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                    <div class="form-row">
                      <div class="col">
                        <input class="form-control form-control-sm" type="number" placeholder="First line" formControlName="firstLine" min="1" [readonly]="createReviewItemForm.value['file'] == ''">
                      </div>
                      <div class="col">
                        <input class="form-control form-control-sm" type="number" placeholder="Last line" formControlName="lastLine" min="1" [readonly]="createReviewItemForm.value['file'] == ''">
                      </div>
                    </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="content"></textarea>
            </div>
            <hr>
            <!--
            <span class="text-muted">Markdown will be supported.</span>
            -->
            <span style="float: right"><button type="submit" class="btn btn-outline-success" [disabled]="createReviewItemForm.value['content'] == ''">Add review</button></span>
          </form>
        </div>
        <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
          <div class="preview">
            {{createReviewItemForm.value['content']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="reviewItems.length == 0">
  <div class="alert alert-light" role="alert" id="review-info" style="background: #EDF1F4">>
    This submission doesn't have any reviews.
  </div>
</div>

<div class="mb-2" *ngIf="reviewItems.length != 0">
  <div class="row">
    <div class="col-md-3">
      <form [formGroup]="reviewListForm">
        <select class="form-control form-control-sm" formControlName="order" (change)="orderItems()">
          <option selected value>Oldest to newest</option>
          <option value>Newest to oldest</option>
        </select>
      </form>
    </div>
    <div class="col">
      <span style="float: right">
      <button type="button" class="btn btn-outline-primary" (click)="exportToISNotebooks()" data-toggle="modal" data-target="#exportModal" [disabled]="selectedReviews.length == 0">Export to IS Notebooks</button>
      </span>
    </div>
  </div>
</div>


<div *ngIf="review">
  <div *ngIf="reviewItems">
    <div *ngFor="let item of reviewItems">


      <div class="card">
        <div class="card-body" (click)="focusOnReviewedFile(item['review']?.file, item['review']?.line_start, item['review']?.line_end)">
          <div class="card-title">
            <div style="padding-bottom: 10px">
              <span style="height: 20px; width: 100px" class="pt-2 pb-2">
                <span *ngIf="item['review'].file">
                  File: {{ item['review']?.file }}
                </span>
                <span *ngIf="item['review'].line_start">
                  | First line: {{ item['review']?.line_start }}
                </span>
                <span *ngIf="item['review'].line_end">
                  | Last line: {{ item['review']?.line_end}}
                </span>
              </span>
              <span style="float: right">
                <span class="mr-3">
                  <input *ngIf="canEditReview(item['review'])" type="checkbox" class="form-check-input" id="exampleCheck1" (change)="addToSelectedReviews(item['review'])">
                  <label class="form-check-label" for="exampleCheck1">Export</label>
                </span>
                <i class="fas fa-history mr-3" title="View history" data-toggle="modal" data-target="#historyReviewModal" (click)="selected = item"></i>
                <i *ngIf="canEditReview(item['review'])" class="fas fa-pencil-alt mr-3" title="Edit review" data-toggle="modal" data-target="#editReviewModal" (click)="initEditReviewFormValue(item['review']); selected = item"></i>
                <i *ngIf="canDeleteReview(item['review'])" class="fas fa-times" title="Delete review" data-toggle="modal" data-target="#deleteReviewModal" (click)="selected = item"></i>
             </span>
            </div>
            <span style="font-weight: bold">{{item['review']?.user?.name}}</span>
          </div>
          <div class="card-text">
            <pre style="white-space:pre-wrap; font-size: 14px">{{item['review']?.content}}</pre>
          </div>
          <h6 class="card-subtitle mt-1 text-muted"><span style="font-size: small"> {{item['review']?.created_at | date: 'dd.MM.yyyy HH:mm:ss'}} | <span>edited</span> (last edit: {{item['review']?.updated_at | date: 'dd.MM.yyyy HH:mm:ss'}})</span></h6>
        </div>
      </div>
      <br>
      </div>
  </div>
</div>

<!-- delete review item modal -->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete the review?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteReviewItem(selected['review'])" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- review item history modal -->
<div *ngIf="selected">
  <div class="modal fade bd-example-modal-lg"  id="historyReviewModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="historyModalLabel">Edit history</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div *ngFor="let version of selected['versions']">

            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <div style="padding-bottom: 10px">
              <span style="height: 20px; width: 100px" class="pt-2 pb-2">
                <span *ngIf="version.file">
                  File: {{ version?.file }}
                </span>
                <span *ngIf="version.line_start">
                  | First line: {{ version?.line_start }}
                </span>
                <span *ngIf="version.line_end">
                  | Last line: {{ version?.line_end}}
                </span>
              </span>
                  </div>
                  <span style="font-weight: bold">{{version.user?.name}}</span>
                </div>
                <div class="card-text">
                  <pre style="white-space:pre-wrap; font-size: 14px">{{version?.content}}</pre>
                </div>
                <h6 class="card-subtitle mt-1 text-muted"><span style="font-size: small"> {{version?.created_at | date: 'dd.MM.yyyy HH:mm:ss'}} | <span>edited</span> (last edit: {{version?.updated_at | date: 'dd.MM.yyyy HH:mm:ss'}})</span></h6>
              </div>
            </div>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- edit review item modal -->
<div class="modal fade bd-example-modal-lg" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editReviewItemForm">
          <div class="form-group">
            <div class="row mb-2">
              <div class="col-md-6">
                <select class="form-control form-control-sm" formControlName="file">
                  <option selected value></option>
                  <option *ngFor="let file of filesForReview">
                    {{file['url'][0] === '.' ? file['name'] : file['url'] }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <div class="form-row">
                  <div class="col">
                    <input class="form-control form-control-sm" type="number" placeholder="First line" formControlName="firstLine" min="1" [readonly]="editReviewItemForm.value['file'] == ''">
                  </div>
                  <div class="col">
                    <input class="form-control form-control-sm" type="number" placeholder="Last line" formControlName="lastLine" min="1" [readonly]="editReviewItemForm.value['file'] == ''">
                  </div>
                </div>
              </div>
            </div>
            <textarea class="form-control" id="editReviewItemTextArea" rows="3" formControlName="content"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateReviewItem(selected['review'])" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- export to IS notebooks modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="exportModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exportModalLabel">Export selected review items to the Information System Notebooks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you wish to export the following content to IS notebooks? Any future changes to the exported review items will
          NOT be automatically added to the IS Notebooks and will have to be reexported or changed manually if needed.
        </p>
        <form [formGroup]="exportISNotebooksForm">
          <div class="form-group">
            <textarea class="form-control" style="min-height: 500px" id="exportReviewItemsTextArea" rows="3" formControlName="content" readonly></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="writeToNotebook()">Export</button>
      </div>

    </div>
  </div>
</div>

