<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Requested page not found!
        </div>
        <div class="error-actions">
          <a class="btn btn-primary btn-lg" (click)="goBack()">
            Back
          </a>
          <a routerLink="/" routerLinkActive="active" class="btn btn-default btn-lg">
            Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
