<div id="projects-list" class="container">

  <div class="page-header">
    <h1>
      Projects
    </h1>

    <div class="page-controls row">
      <div class="col-lg-4" *ngIf="userCanCreateProject()">
        <button class="btn btn-success pull-right" routerLinkActive="active"
                [routerLink]="['/courses/' + course?.id + '/projects/create']">
          <span class="fa fa-plus-circle"></span>
          Create a new project
        </button>
      </div>
    </div>
  </div>

  <div class="page-body">

    <div>
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'
      />

      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="projects"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Codename" prop="codename">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="[row.id]">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Name" prop="name">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="[row.id]">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Configuration">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a routerLinkActive="active" [routerLink]="[row.id]" [queryParams]="{showConfigAtLoad: true}"
               fragment="configuration">Configuration</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Submissions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a routerLinkActive="active" [routerLink]="['/submissions']">Submissions</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Updated at" prop="updated_at">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Created at" prop="created_at">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Update Test Files" prop="id" *ngIf="userCanUpdateProjectFiles()">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-primary" (click)="updateTestFiles(value)">Update</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>
