<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="header">
        <hr>
        <h4>All tests</h4>
      </div>
      <app-tests-table *ngIf="tests" [tests]="tests"></app-tests-table>
    </div>
    <div class="col-md">
      <hr>
      <app-test-details *ngIf="tests" [tests]="tests"></app-test-details>
    </div>
  </div>
</div>
