<div class="wrapper">
  <div class="sidebar">
    <app-side-menu *ngIf="loggedInUser" [type]="'base'"></app-side-menu>
  </div>
  <div class="content-wrapper">
    <app-top-menu [status]="status" *ngIf="loggedInUser"></app-top-menu>
      <div class="container-fluid" id="content">
        <flash-messages></flash-messages>
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
