<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="testsSearchField"
               placeholder="Search tests by name"
               aria-label="Search tests by name"
               (keyup)="filterTestsByName($event)">
      </div>
    </div>
    <div class="col-sm">
      <p>
        <button type="button" class="btn btn-light" aria-pressed="false" data-toggle="button"
                (click)="passedFilterOn = !passedFilterOn; pushButton('PASS')">Passed</button>
        <button type="button" class="btn btn-light" aria-pressed="false" data-toggle="button"
                (click)="failFilterOn = !failFilterOn; pushButton('FAIL')">Failed</button>
        <button type="button" class="btn btn-light" aria-pressed="false" data-toggle="button"
                (click)="skippedFilterOn = !skippedFilterOn; pushButton('NONE')">Skipped</button>
        <button type="button" class="btn btn-light" aria-pressed="false" data-toggle="button"
                (click)="errorFilterOn = !errorFilterOn; pushButton('ERROR')">Error</button>
      </p>
    </div>
  </div>
    <ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [rowHeight]="'flex'"
      [columns]="columns"
      [selected]="selected"
      [limit]="10"
      [headerHeight]="50"
      [footerHeight]="50"
      [selectionType]="'single'"
      (select)='onSelect($event)'>
      <ngx-datatable-column
        *ngFor="let col of columns"
        [name]="col.name">
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div>
            <div style="padding: 5px 10px">
              <b>Total:</b> {{defaultRows.length}}<b> | </b>
              Passed: {{passed.length}}<b> | </b>
              Failed: {{fail.length}}<b> | </b>
              Skipped: {{skipped.length}}<b> | </b>
              Error: {{error.length}}
            </div>
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)"
            (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
</div>

